#userTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #userTable th, #userTable td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
  
  #userTable th {
    background-color: #e6571f;
    font-weight: bold;
  }
  
  #userTable tr:nth-child(even) {
    background-color: #7c8df0;
  }
  
  #userTable tbody tr:hover {
    background-color: #7c8df0;
  }
  @media (max-width: 501px) {
    html {
      font-size: 15px;
    }
    .container .form {
      width: 300px;
    }
    }
    @media (min-width: 501px) and (max-width: 768px) {
    html {
      font-size: 14px;
    }
    .container .form {
      width: 450px;
    }
    }
    @media (min-width: 765px) and (max-width: 1200px) {
    html {
      font-size: 18px;
    }
    .container .form {
      width: 540px;
      height: 550px;
    }
    }
    @media (orientation: landscape) and (max-height: 500px) {
    .container {
      height: 100vmax;
    }
    }